@import url('css/grayscale.css');

/* -------------------------------- NAVIGATION BAR ------------------------------- */

.navbar .nav li {
    width: 200px; /* or whatever width you want for items */
    display: inline-block;
    float: none;
}
.navbar .nav {
    float: none;
    text-align: center;
}

.top-nav-collapse {
	background-color: #3f3d3d;
}

/* -------------------------------- BODY ------------------------------- */

.intro-body {
	background-color: #3f3d3d;
}

.sjbones-logo {
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 25px;

}

/* -------------------------------- ABOUT ------------------------------- */

.steph {
	float: left;
	padding: 50px;
}

/* -------------------------------- WORK ------------------------------- */

.portfolio-header {
	padding-top: 40px;
	margin-bottom: 40px;
}

.portfolio-header ul {
	list-style: none;
	display: inline-block;
	margin: 0 auto;
}

.portfolio-header ul li {
	float: left;
	width: 320px;
	height: 200px;
}

.portfolio-header ul li img {
	margin: 0 auto;
}

.portfolio-work {
	margin: 0 auto;
}

/* -------------------------------- CONTACT ------------------------------- */

.contact-footer {
	margin-bottom: 150px;
}

/* -------------------------------- BOOTSNIPP ------------------------------- */

.gallery
{
    display: inline-block;
    margin-top: 20px;
}


